<div class="container">
<div class="card">
    <div class="card-panel hoverable">
      <div class="card-content">
        <h3>Sign In</h3>
        <h6><%= flash[:notice] %></h6>
<%= form_with  do |form| %>



<div class="row">
    <div class="input-field col s12">
        <%= form.label :email %><br>
        <%= form.text_field :email, type: "email" %>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <%= form.label :password %><br>
        <%= form.password_field :password %>
    </div>
</div>



<button class="btn waves-effect waves-light" type="submit" name="action"> 
    <%= form.submit "Sign In" , class: "white-text" %>
          <i class="material-icons right">send</i>
    </button>

<button class="btn waves-effect waves-light">
        Cancel
        <i class="material-icons right">send</i>
</button>
<br/><br/>
<small>New User?</small>
<big><a href="/account/signup">Sign Up &emsp;</a></big>
<big><a href="/password/forgot">Forgot your password?</a></big>
<% end %>
</div>
</div>
</div>
</div>
